body {
  background-color: #f8f9fa;
}

#login-container {
  height: 100vh;
  margin-top: 10rem;
}

.login-container {
  margin: 100px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.form-control {
  margin-bottom: 20px;
}
.btn-login {
  background-color: #007bff;
  color: #ffffff;
}
.btn-login:hover {
  background-color: #0056b3;
  color: #ffffff;
}
.login-footer {
  margin-top: 20px;
  text-align: center;
}
